#harga {
    font-family: verdana, genava, tahoma, sans-serif;
    border-collapse: collapse;
    width: 100;
}
#harga td, #hargath {
    border: 1px solid #ddd;
    padding: 8px;
}

#harga th{
    background-color: rgb(214, 29, 29);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: aqua;
}

#harga tr:nth-child(odd){
    background-color: chartreuse;
}

#harga tr:hover{
    background-color: blanchedalmond;
}